<breadcrum pageTitle="Quiz" pageParent="Random Quiz"></breadcrum>
<loading [loading]="loading"></loading>
<div class="card" [hidden]="loading">
  <div class="panel panel-danger" *ngIf="quiz">
    <div class="panel-heading">
      <span class="pull-left badge badge-info">
        Question {{currentQuestion.index+1}} of {{quiz.questions.length}}
      </span>
      <timer class="pull-right badge badge-info" [duration]="config.duration" (timerElapsed)="submit()"></timer>
    </div>
    <div class="panel-body">
      <div class="row" *ngIf="!isReviewing">
        <div class="col-sm-12 card">
          <question [question]="currentQuestion"></question>
        </div>
      </div>
      <quiz-toobar (onSubmit)="submit()" (onNext)="getNextQuestion()" (onPrevious)="getPreviousQuestion()"
        [nextDisabled]="disableNext()" [prevDisabled]="disablePrevious()" (onReview)="review($event)"></quiz-toobar>

      <div class="row" *ngIf="isReviewing">
        <div *ngFor="let q of quiz.questions" class="col-sm-12 reviewQuestion">
          <review-question [question]="q" (onQuestionClick)="onReviewQuestionClick($event)"></review-question>
        </div>
      </div>
    </div>
  </div>
</div>